In [42]:
import pandas as pd

from pyspark.sql import SparkSession
from pyspark.sql import Row

In [11]:
# creating SparkSession
sps = SparkSession.builder.master('local').appName('customer_churn').config("spark.some.config.option", "some-value").getOrCreate()

In [38]:
df = sps.read.option('header', True).csv('projeto4_telecom_treino.csv')

In [40]:
type(df)

pyspark.sql.dataframe.DataFrame

In [41]:
df.show()

+---+-----+--------------+-------------+------------------+---------------+---------------------+-----------------+---------------+----------------+-----------------+---------------+----------------+-------------------+-----------------+------------------+------------------+----------------+-----------------+-----------------------------+-----+
|_c0|state|account_length|    area_code|international_plan|voice_mail_plan|number_vmail_messages|total_day_minutes|total_day_calls|total_day_charge|total_eve_minutes|total_eve_calls|total_eve_charge|total_night_minutes|total_night_calls|total_night_charge|total_intl_minutes|total_intl_calls|total_intl_charge|number_customer_service_calls|churn|
+---+-----+--------------+-------------+------------------+---------------+---------------------+-----------------+---------------+----------------+-----------------+---------------+----------------+-------------------+-----------------+------------------+------------------+----------------+-----------------+-----------------------------+-----+
|  1|   KS|           128|area_code_415|                no|            yes|                   25|            265.1|            110|           45.07|            197.4|             99|           16.78|              244.7|               91|             11.01|                10|               3|              2.7|                            1|   no|
|  2|   OH|           107|area_code_415|                no|            yes|                   26|            161.6|            123|           27.47|            195.5|            103|           16.62|              254.4|              103|             11.45|              13.7|               3|              3.7|                            1|   no|
|  3|   NJ|           137|area_code_415|                no|             no|                    0|            243.4|            114|           41.38|            121.2|            110|            10.3|              162.6|              104|              7.32|              12.2|               5|             3.29|                            0|   no|
|  4|   OH|            84|area_code_408|               yes|             no|                    0|            299.4|             71|            50.9|             61.9|             88|            5.26|              196.9|               89|              8.86|               6.6|               7|             1.78|                            2|   no|
|  5|   OK|            75|area_code_415|               yes|             no|                    0|            166.7|            113|           28.34|            148.3|            122|           12.61|              186.9|              121|              8.41|              10.1|               3|             2.73|                            3|   no|
|  6|   AL|           118|area_code_510|               yes|             no|                    0|            223.4|             98|           37.98|            220.6|            101|           18.75|              203.9|              118|              9.18|               6.3|               6|              1.7|                            0|   no|
|  7|   MA|           121|area_code_510|                no|            yes|                   24|            218.2|             88|           37.09|            348.5|            108|           29.62|              212.6|              118|              9.57|               7.5|               7|             2.03|                            3|   no|
|  8|   MO|           147|area_code_415|               yes|             no|                    0|              157|             79|           26.69|            103.1|             94|            8.76|              211.8|               96|              9.53|               7.1|               6|             1.92|                            0|   no|
|  9|   LA|           117|area_code_408|                no|             no|                    0|            184.5|             97|           31.37|            351.6|             80|           29.89|              215.8|               90|              9.71|               8.7|               4|             2.35|                            1|   no|
| 10|   WV|           141|area_code_415|               yes|            yes|                   37|            258.6|             84|           43.96|              222|            111|           18.87|              326.4|               97|             14.69|              11.2|               5|             3.02|                            0|   no|
| 11|   IN|            65|area_code_415|                no|             no|                    0|            129.1|            137|           21.95|            228.5|             83|           19.42|              208.8|              111|               9.4|              12.7|               6|             3.43|                            4|  yes|
| 12|   RI|            74|area_code_415|                no|             no|                    0|            187.7|            127|           31.91|            163.4|            148|           13.89|                196|               94|              8.82|               9.1|               5|             2.46|                            0|   no|
| 13|   IA|           168|area_code_408|                no|             no|                    0|            128.8|             96|            21.9|            104.9|             71|            8.92|              141.1|              128|              6.35|              11.2|               2|             3.02|                            1|   no|
| 14|   MT|            95|area_code_510|                no|             no|                    0|            156.6|             88|           26.62|            247.6|             75|           21.05|              192.3|              115|              8.65|              12.3|               5|             3.32|                            3|   no|
| 15|   IA|            62|area_code_415|                no|             no|                    0|            120.7|             70|           20.52|            307.2|             76|           26.11|                203|               99|              9.14|              13.1|               6|             3.54|                            4|   no|
| 16|   NY|           161|area_code_415|                no|             no|                    0|            332.9|             67|           56.59|            317.8|             97|           27.01|              160.6|              128|              7.23|               5.4|               9|             1.46|                            4|  yes|
| 17|   ID|            85|area_code_408|                no|            yes|                   27|            196.4|            139|           33.39|            280.9|             90|           23.88|               89.3|               75|              4.02|              13.8|               4|             3.73|                            1|   no|
| 18|   VT|            93|area_code_510|                no|             no|                    0|            190.7|            114|           32.42|            218.2|            111|           18.55|              129.6|              121|              5.83|               8.1|               3|             2.19|                            3|   no|
| 19|   VA|            76|area_code_510|                no|            yes|                   33|            189.7|             66|           32.25|            212.8|             65|           18.09|              165.7|              108|              7.46|                10|               5|              2.7|                            1|   no|
| 20|   TX|            73|area_code_415|                no|             no|                    0|            224.4|             90|           38.15|            159.5|             88|           13.56|              192.8|               74|              8.68|                13|               2|             3.51|                            1|   no|
+---+-----+--------------+-------------+------------------+---------------+---------------------+-----------------+---------------+----------------+-----------------+---------------+----------------+-------------------+-----------------+------------------+------------------+----------------+-----------------+-----------------------------+-----+
only showing top 20 rows

Puts, ta ruim assim. Investigar algumas linhas com o Pandas antes:

In [45]:
df_ = pd.read_csv('projeto4_telecom_treino.csv', nrows=5)
df_

,Unnamed: 0,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,1,KS,128,area_code_415,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,no
1,2,OH,107,area_code_415,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,no
2,3,NJ,137,area_code_415,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,no
3,4,OH,84,area_code_408,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,no
4,5,OK,75,area_code_415,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,no

Agora sim. Vamos investigar os dados com o Spark SQL, mas antes, vamos remover essa primeira coluna.

In [47]:
df = df.drop('_c0')

In [49]:
df.show(2)

+-----+--------------+-------------+------------------+---------------+---------------------+-----------------+---------------+----------------+-----------------+---------------+----------------+-------------------+-----------------+------------------+------------------+----------------+-----------------+-----------------------------+-----+
|state|account_length|    area_code|international_plan|voice_mail_plan|number_vmail_messages|total_day_minutes|total_day_calls|total_day_charge|total_eve_minutes|total_eve_calls|total_eve_charge|total_night_minutes|total_night_calls|total_night_charge|total_intl_minutes|total_intl_calls|total_intl_charge|number_customer_service_calls|churn|
+-----+--------------+-------------+------------------+---------------+---------------------+-----------------+---------------+----------------+-----------------+---------------+----------------+-------------------+-----------------+------------------+------------------+----------------+-----------------+-----------------------------+-----+
|   KS|           128|area_code_415|                no|            yes|                   25|            265.1|            110|           45.07|            197.4|             99|           16.78|              244.7|               91|             11.01|                10|               3|              2.7|                            1|   no|
|   OH|           107|area_code_415|                no|            yes|                   26|            161.6|            123|           27.47|            195.5|            103|           16.62|              254.4|              103|             11.45|              13.7|               3|              3.7|                            1|   no|
+-----+--------------+-------------+------------------+---------------+---------------------+-----------------+---------------+----------------+-----------------+---------------+----------------+-------------------+-----------------+------------------+------------------+----------------+-----------------+-----------------------------+-----+
only showing top 2 rows

In [50]:
df.createOrReplaceTempView('churntb')

In [56]:
df.columns

['state',
 'account_length',
 'area_code',
 'international_plan',
 'voice_mail_plan',
 'number_vmail_messages',
 'total_day_minutes',
 'total_day_calls',
 'total_day_charge',
 'total_eve_minutes',
 'total_eve_calls',
 'total_eve_charge',
 'total_night_minutes',
 'total_night_calls',
 'total_night_charge',
 'total_intl_minutes',
 'total_intl_calls',
 'total_intl_charge',
 'number_customer_service_calls',
 'churn']

Verificando valores unicos:

In [104]:
df.dtypes

[('state', 'string'),
 ('account_length', 'string'),
 ('area_code', 'string'),
 ('international_plan', 'string'),
 ('voice_mail_plan', 'string'),
 ('number_vmail_messages', 'string'),
 ('total_day_minutes', 'string'),
 ('total_day_calls', 'string'),
 ('total_day_charge', 'string'),
 ('total_eve_minutes', 'string'),
 ('total_eve_calls', 'string'),
 ('total_eve_charge', 'string'),
 ('total_night_minutes', 'string'),
 ('total_night_calls', 'string'),
 ('total_night_charge', 'string'),
 ('total_intl_minutes', 'string'),
 ('total_intl_calls', 'string'),
 ('total_intl_charge', 'string'),
 ('number_customer_service_calls', 'string'),
 ('churn', 'string')]

Importação direta pelo SparkContext poupou tempo, mas deixou todos os tipos como String ¬¬. Refazer importando de RDD e Row.

In [103]:
for col in df.columns:
    min_ = sps.sql('select '+col+' from churntb order by ' +col+ ' asc limit 1').head()[0]
    max_ = sps.sql('select '+col+' from churntb order by ' +col+ ' desc limit 1').head()[0]
    distinct = df.select(col).distinct().count()
    print('[{0}] Distinct:{1} ----- Min:{2} ----- Max:{3}'.format(col, distinct, min_, max_))

[state] Distinct:51 ----- Min:AK ----- Max:WY
[account_length] Distinct:212 ----- Min:1 ----- Max:99
[area_code] Distinct:3 ----- Min:area_code_408 ----- Max:area_code_510
[international_plan] Distinct:2 ----- Min:no ----- Max:yes
[voice_mail_plan] Distinct:2 ----- Min:no ----- Max:yes
[number_vmail_messages] Distinct:46 ----- Min:0 ----- Max:9
[total_day_minutes] Distinct:1667 ----- Min:0 ----- Max:99.9
[total_day_calls] Distinct:119 ----- Min:0 ----- Max:99
[total_day_charge] Distinct:1667 ----- Min:0 ----- Max:9.93
[total_eve_minutes] Distinct:1611 ----- Min:0 ----- Max:99.5
[total_eve_calls] Distinct:123 ----- Min:0 ----- Max:99
[total_eve_charge] Distinct:1440 ----- Min:0 ----- Max:9.95
[total_night_minutes] Distinct:1591 ----- Min:100.3 ----- Max:99.3
[total_night_calls] Distinct:120 ----- Min:100 ----- Max:99
[total_night_charge] Distinct:933 ----- Min:1.04 ----- Max:9.99
[total_intl_minutes] Distinct:162 ----- Min:0 ----- Max:9.9
[total_intl_calls] Distinct:21 ----- Min:0 ----- Max:9
[total_intl_charge] Distinct:162 ----- Min:0 ----- Max:5.4
[number_customer_service_calls] Distinct:10 ----- Min:0 ----- Max:9
[churn] Distinct:2 ----- Min:no ----- Max:yes